<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Deejays</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/deejays.css">
    </head>
    <body>
        <div class="main-wrapper-container ">
            <main class="radio-station deejays">
                <div class="part-sticky top-wrapper">
                
                    {% if likeStatus and loggedIn %} 
                        <div class="box-notification {{likeStatus}}">

                            {% case likeStatus %}
                                {% when "error" %}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <title>Kruis</title>
                                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                                    </svg>
                                    Er is een fout opgetreden bij het Liken van de DJ. Probeer het later opnieuw.
                                {% when "ideal" %}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <title>Vink</title>
                                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/>
                                    </svg>
                                    Bedankt voor je feedback!
                                {% else %}
                                    Er heeft een onverwachte fout opgetreden.
                                    
                            {% endcase %}
                        </div>
                    {% endif %}
                </div>

                {% if loggedIn %}
                    <div class="box-auth {% if likeStatus %} m-top {% endif %}">
                        Hallo {{LoggedInUser}}<a href="/logout/{{ stationNameGeneratedEncoded }}">Uitloggen</a>
                    </div>

                
                

                    <section class="deejay-overview">
                        <h1 class="text-xxl">DJ's</h1>
                        {% if deejays.size > 0 %}
                            {% for deejay in deejays %}
                                {%  render 'partials/dj.liquid' deejay: deejay, stationName: stationNameGenerated, stationNameGeneratedEncoded: stationNameGeneratedEncoded %}
                            {% endfor %}
                        {% else %}
                            <p class="text-xl">OOPS</p>
                            <p>Er zijn nog geen DJ's toegevoegd aan deze zender.</p>
                        {% endif %}
                        
                    </section>

                {% else %}

                    <form method="post" action="/login/{{ stationNameGeneratedEncoded }}" {% if likeStatus %} class="m-top" {% endif %}>
                        <label>Username: <input name="username"></label>
                        <button>Inloggen</button>
                    </form>

                {% endif %}
            </main>
        </div>
    </body>
</html>

{% comment %} https://shopify.github.io/liquid/tags/iteration/#continue {% endcomment %}


